@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: auto;
  scrollbar-color: auto;
}
::-webkit-scrollbar {
  width: 10px; /* Anchura de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color de fondo de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #ff4495; /* Color del pulgar de la barra de desplazamiento */
}
